body {  
    background: lightblue;
    margin: 0px;
    font-family: "Newsreader", serif; font-family: "Newsreader", serif;
}
 

header {  
      border-bottom: solid 1px blue;
      padding: 15px;
      font-size: 33px;
      color: blue;
      
}



section {  
     background: rgb( 78,153,171,1);
     padding: 20px;
    display: flex;
    justify-content: center;

}
.chamada-texto{
    margin-right: 5%;
}